h1{
    text-align: center;
}
body{
    background-color: lightgray;
}
#leftImage{
    width: 50%;
}
.icon > img{
    width: 30%;
    background-color: grey;
    padding: 15px;
    border-radius: 50%;
}
.chooseUsContainer{
    display: flex;
}
.bold{
    font-weight: bold;
}
.buttonSection{
    padding: 30px;
}
button{
    background-color: rgb(32, 152, 227);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    margin-right: 30px;
}
.iconContainer{
    display: flex;
    margin-top: 15px;
}
